html {
  text-align: center;
  font-family: "Andale Mono", monospace;
  font-size: 45px;
  font-weight: 500;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 95vh; */
  height: 100vh;
  overflow: hidden;
  /* width: 200vh; */
  /* background-color: rgb(51, 0, 255); */
}


#calc {
  background-color: rgb(143, 143, 143);
  /* height: 500px; */
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 15px solid rgb(73, 73, 73);
  overflow: hidden;
  /* align-content: stretch; */
  /* align-items: center; */
  /* justify-items: center; */
  /* flex: 1; */
  /* margin-top: 100px;
  margin-bottom: 100px; */
}

#calc div {
  /* height: 83px;
  width: 100px; */
  border: solid;
  border-color: black;
  line-height: 80px;
  
}

.view {
  grid-column: 1 / -1;
  text-align: end;
  /* font-size: large; */
  padding-right: 15px;
}

/* #zero {
  grid-column: 1 / 2;
}

#period {
  grid-column: 3 / 3;
} */

#equals {
  grid-column: 3 / -1;
}

.num {
  background-color: rgb(117, 117, 117);
  /* background-color: rgb(201, 201, 201); */
}

.func {
  background-color: rgb(0, 110, 126);
}

.operation {
  background-color: rgb(255, 174, 0);
}