body {
    background-color: rgb(255, 255, 255);
}

#container {
    display: flex;
    /* cursor: none; */
}

div #slidecontainer {
    background-color: rgb(210, 210, 210);
    /* margin-left: 25px;
    margin-top: 10px; */
    margin: 10px;
}

input {
    margin: 10px;
}

p {
    margin-left: 25px;
    margin-top: 10px;
}

#item {
    background: rgb(255, 255, 255); 
    /* flex: 1; */
    /* opacity: 50%; */
}
